@model FeedbackApp.Models.ViewModels.FeedbackViewModel

@{
    ViewData["Title"] = "Feedback";
}
<div class="row">
    <div class="col">
        <h3>Add feedback to your survey</h3>
        
        @{ var buttonText = (Model.FeedbackToEdit != null) ? "Save feedback" : "Add feedback"; }

        <form asp-action="AddOrEditFeedback" asp-route-id="@Model.Survey.Id" asp-route-feedbackId="@Model.FeedbackToEdit" method="post">
            <div class="form-group">
                <textarea asp-for="FeedbackText" class="form-control"></textarea>
                <span asp-validation-for="FeedbackText" class="text-danger"></span>
            </div>
            @for (var i = 0; i < Model.Conditions.Count(); i++)
            {
                <div class="form-group">
                    <p>@Model.Conditions[i].Text</p>
                    <input asp-for="@Model.Conditions[i].Text" type="hidden" />
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @for (var j = 0; j < Model.Conditions[i].PossibleAnswers.Count(); j++)
                        {
                            var klasse = "btn btn-secondary";
                            @if (Model.Conditions[i].Answer == Model.Conditions[i].PossibleAnswers[j])
                            {
                                klasse = "btn btn-secondary active";
                            }
                            <label class="@klasse">
                                @(j + 1)
                                <input class="form-check-input" autocomplete="off" asp-for="@Model.Conditions[i].Answer" type="radio" value="@Model.Conditions[i].PossibleAnswers[j]" />
                            </label>
                        }
                    </div>

                </div>
            }
            <div class="form-group">
                <input asp-for="ChosenPriority" />
                <span asp-validation-for="ChosenPriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-light">@buttonText</button>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="row pt-4">
    <div class="col">
        <h4>@Model.Survey.Title</h4>
        <p>@Model.Survey.Description</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Feedback</th>
                    <th>Priority</th>
                    <th>Conditions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Survey.Feedback.Count(); i++)
                {

                    <tr>
                        <td>@Model.Survey.Feedback[i].Text</td>
                        <td>@Model.Survey.Feedback[i].Priority</td>
                        <td>
                            @foreach (var condition in Model.Survey.Feedback[i].Conditions)
                            {
                                <div>Q: @condition.Text A: @condition.Answer </div>
                            }
                        </td>
                        <td><a asp-action="Feedback" asp-route-id="@Model.Survey.Id" asp-route-feedbackId="@i">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Home" asp-action="Index">Finish and go to frontpage</a>
    </div>
</div>
