@model FeedbackApp.Models.ViewModels.CreateSurveyViewModel
@{
    ViewData["Title"] = "Create Survey";
}
<div class="row">
    <div class="col">


        <h3>Add questions to your survey</h3>

        @{ var buttonText = "Add question";
            var questionText = "";
            int? questionId = null;}
        @if (Model.QuestionToEdit != null)
    {
        int i = Model.QuestionToEdit ?? default(int);
        questionText = Model.Survey.Questions[i].Text;
        buttonText = "Edit question";
        questionId = i;
    }
        <form asp-action="AddOrEditQuestion" asp-route-id="@Model.Survey.Id" asp-route-questionId="@questionId" method="post">
            <div class="form-group">
                @Html.TextArea("question", questionText, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-light">@buttonText</button>
            </div>
        </form>
    </div>
</div>
<hr />
        <div class="row pt-4">
            <div class="col">
                <h4>@Model.Survey.Title</h4>
                <p>@Model.Survey.Description</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Survey.Questions.Count(); i++)
                    {

                        <tr>
                            <td>@Model.Survey.Questions[i].Text</td>
                            <td><a asp-action="Index" asp-route-id="@Model.Survey.Id" asp-route-questionId="@i">Edit</a></td>
                        </tr>

                }
                    </tbody>
                </table>
                <a asp-action="Feedback" asp-route-id="@Model.Survey.Id">Save Questions and add feedback</a>
            </div>
        </div>

